/* header */
.site-header {
  background-color: #007B3D;
  height: 90px;
}

.header-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background-color: #fff;
  border-radius: 50%;
}

.company-name {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}

.company-name2 {
  font-size: 30px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 28px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}
