@charset "utf-8";

:root {
	--check-red: #ff0000;
  --check-pink: #f700ff;
  --check-purple: #a600ff;
  --check-sky: #0099ff;
  --check-blue: #0000ff;
  --check-green: #00ff73;
  --check-yellow: #ffee00;
  --check-orange: #ff9d00;

  --main-green: #007b3d;
  --sub-green: #8cbb9e;
  --shadow-green: #c5ddce;
  --skyblue: #d4edf9;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, main, div, span, h1, h2, h3, h4, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.primary-button {
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--main-green);
  background-color: white;
  width: 100%;
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--main-green);
  border-radius: 100vmax;
  box-shadow: 0 5px var(--shadow-green);
}

.primary-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px var(--shadow-green);
}

.primary-button::after {
  position: absolute;
  content: url(../img/primary-button_icon.png);
  top: 25%;
  right: 1rem;
  height: 2rem;
}

.section-heading {
  position: relative;
  background-color: var(--main-green);
  font-size: 2rem;
  color: white;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-bottom: 25px;
}

.section-heading:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 5rem;
  border-top: 15px solid var(--main-green);
  border-left: 20px solid transparent;
  width: 0;
  height: 0;
}

.text-center {
  text-align: center;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.flex-gap1 {
  display: flex;
  gap: 1rem;
}

.main-content {
  width: 80%;
  margin: 0 auto;
}

#index-hero {
  height: 500px;
  width: 100%;
  margin-bottom: 2rem;
}

#index-hero-img {
	height: 500px;
	width: 100%;
	object-fit: cover;
  object-position: top;
  position: relative;
}

#index-text {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  text-shadow:1px 1px 0 black, -1px -1px 0 black,
              -1px 1px 0 black, 1px -1px 0 black,
              0 1px 0 black,  0 -1px 0 black,
              -1px 0 0 black, 1px 0 0 black;
}

.index-hero-button {
  position: absolute;
  bottom: 30%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 80%;
}

.index-hero-button:hover {
  transform: translate(-50%, -50%) translateY(-5px);
}

.img-gradation {
background-image: linear-gradient(90deg, #2474B2FF, #00000000 50%);  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.card-photo-container {
  margin-bottom: 1rem;
}

.card-photo img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card-photo h2 {
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--sub-green);
}

.card-photo p {
  padding: 1.5rem;
  padding-top: 0;
  background-color: var(--sub-green);
}

.subject-list {
  margin-bottom: 2rem;
}

.subject-list h3::before {
  content: '■';
  color: var(--main-green);
}

.subject-list h3 {
  text-decoration: underline;
}

.subject-list ul {
  margin-top: 0.5rem;
  margin-left: 2.5rem;
  list-style: none;
}

.subject-list ul li{
  display: flex;
  align-items: center;
}

.subject-list ul li::before{
  content: "●";
  color: var(--sub-green);
  font-size: 0.7em;
  margin-right: 1em;
}

.strength-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 0.5fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.strength-container h3 {
  font-size: 1.5rem;
  display:flex;
  flex-direction: column;
	justify-content:center;
	align-items:center;
}

.strength-container h3 .strong {
  font-size: 3rem;
  padding: 0 0.5rem;
  background: linear-gradient(transparent 50%, var(--sub-green) 50%);
  color: var(--main-green);
  text-shadow:2px 2px 0 white, -2px -2px 0 white,
            -2px 2px 0 white, 2px -2px 0 white,
            0 2px 0 white,  0 -2px 0 white,
            -2px 0 0 white, 2px 0 0 white;
}

.strength-container .strength-explain {
  display: flex;
  justify-content:center;
	align-items:center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  border: 3px solid var(--main-green);
  background-color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.strength-container .speech-balloon {
  background-color: var(--skyblue);
  margin: 1.5rem 0;
  border-radius: 2rem;
  padding: 1.5rem;
  display:flex;
	justify-content:center;
	align-items:center;
}

.strength-container img {
  height: 150px;
}

.strength-grid1,
.strength-grid2,
.strength-grid3,
.strength-grid4,
.strength-grid5,
.strength-grid6,
.strength-grid7,
.strength-grid8,
.strength-grid9,
.strength-grid10,
.strength-grid11,
.strength-grid12 {
  padding: 1rem 2rem;
  background-color: var(--shadow-green);
}

.strength-grid3,
.strength-grid7,
.strength-grid11 {
  padding-bottom: 2rem;
}

.strength-grid13,
.strength-grid14 {
  text-align: center;
  padding-bottom: 1rem;
}

.strength-grid1 {
  grid-area: 1 / 1 / 2 / 2;
  /* background-color: var(--check-blue); */
}

.strength-grid2 {
  grid-area: 2 / 1 / 3 / 2;
  /* background-color: var(--check-green); */
}

.strength-grid3 {
  grid-area: 3 / 1 / 4 / 2;
  /* background-color: var(--check-orange); */
}

.strength-grid4 {
  grid-area: 4 / 1 / 5 / 2;
  /* background-color: var(--check-pink); */
  position: relative;
}

.strength-grid4::after {
  position: absolute;
  content: '';
  top: 100%;
  right: 10%;
  border-top: 15px solid var(--skyblue);
  border-left: 20px solid transparent;
  width: 0;
  height: 0;
}

.strength-grid5 {
  grid-area: 1 / 2 / 2 / 3;
  /* background-color: var(--check-purple); */
}

.strength-grid6 {
  grid-area: 2 / 2 / 3 / 3;
  /* background-color: var(--check-red); */
}

.strength-grid7 {
  grid-area: 3 / 2 / 4 / 3;
  /* background-color: var(--check-sky); */
}

.strength-grid8 {
  grid-area: 4 / 2 / 5 / 3;
  /* background-color: var(--check-yellow); */
  position: relative;
}

.strength-grid8::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 10%;
  border-top: 15px solid var(--skyblue);
  border-right: 20px solid transparent;
  width: 0;
  height: 0;
}

.strength-grid9 {
  grid-area: 1 / 3 / 2 / 4;
  /* background-color: var(--check-blue); */
}

.strength-grid10 {
  grid-area: 2 / 3 / 3 / 4;
  /* background-color: var(--check-green); */
}

.strength-grid11 {
  grid-area: 3 / 3 / 4 / 4;
  /* background-color: var(--check-orange); */
}

.strength-grid12 {
  grid-area: 4 / 3 / 5 / 4;
  /* background-color: var(--check-pink); */
  position: relative;
}

.strength-grid12::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 40%;
  border-top: 15px solid var(--skyblue);
  border-left: 20px solid transparent;
  width: 0;
  height: 0;
}

.strength-grid13 {
  grid-area: 5 / 1 / 6 / 3;
  /* background-color: var(--check-purple); */
}

.strength-grid14 {
  grid-area: 5 / 3 / 6 / 4;
  /* background-color: var(--check-sky); */
}
