* {
  font-family: "Inter", regular;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

/* Hero */
.hero {
  position: relative;
  width: 100%;
  height: 597px;
}

.hero img {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hero-text {
  width: 100%;
  padding: 102px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.hero-text p {
  font-size: 64px;
  font-weight: bold;
  text-shadow: 3px 3px 0 #ffffff, -3px 3px 0 #ffffff, 3px -3px 0 #ffffff,
    -3px -3px 0 #ffffff;
}

/* メインコンテンツ */
.main-content {
  width: 75%;
  margin: auto;
}

.section-title {
  color: #fff;
  background-color: #007b3d;
  position: relative;
  padding: 12px 0px 12px 24px;
  border-radius: 2px;
  margin: 64px 0px;
}

.section-title:after {
  content: "";
  position: absolute;
  right: 55vw;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #007b3d transparent transparent transparent;
  border-width: 20px 5px 0 20px;
}

.section-text {
  font-size: 24px;
  line-height: 1.5;
}

.section-auther {
  margin: 48px 0px;
  text-align: right;
  font-size: 24px;
}

/* 求人情報コンテナ */
.recruitment-container {
  border: 3px solid #007b3d;
  border-radius: 5px;
  padding: 20px;
  margin: 64px 0px;
}

.recruitment-table {
  width: 80%;
  font-size: 20px;
  margin: auto;
}

table {
  border-collapse: collapse;
}

.bold {
  font-weight: bold;
}

.recruitment-table th {
  width: 20%;
  padding: 24px 12px;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #007b3d;
}

.recruitment-table td {
  width: 40%;
  text-align: left;
  border-bottom: 1px solid #8cbb9e;
  padding: 24px 12px;
}

.line {
  display: block;
}

.recruitment-table .border-none {
  border-bottom: none;
}

.recruitment-link {
  display: flex;
  position: relative;
  height: 105px;
  border: 3px solid #007b3d;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 10px 0px rgba(140, 187, 158, 0.5);
}

.recruitment-link a {
  display: flex;
  font-size: 36px;
  height: 100%;
  width: 100%;
  color: #007b3d;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.arrow {
  z-index: -1;
  display: flex;
  position: absolute;
  right: 24px;
  width: 56px;
  height: 56px;
  font-size: 36px;
  color: #007b3d;
  border: 3px solid #007b3d;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
/* 求人情報カード */

.recruitment-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
  margin: 84px 0px;
}

.recruitment-card {
  border: 1px solid #000000;
  background-color: #d9d9d9;
  cursor: pointer;
  border-radius: 6px;
}

.recruitment-card img {
  display: block;
  width: 100%;
}

.recruitment-card-text {
  width: 80%;
  margin: 0 auto;
}

.recruitment-card-text p {
  font-size: 20px;
  margin: 0 0 12px 0;
}

.recruitment-card-text .center {
  font-size: 32px;
  text-align: center;
}
